@import 'tailwindcss';

@theme {
  --color-primary-500: #ff6229;
  --color-primary-400: #fb5d35;
  --color-primary-300: #ff3c0b;

  --color-black-500: #222222;

  --color-gray-500: #747272;
  --color-gray-400: #6d6d6d;
  --color-gray-300: #c7c7c7;
  --color-gray-200: #8080801f;
  --color-gray-100: #f8f6f6;

  --color-background-500: #ffffff;

  --font-family-manrope: 'Manrope', sans-serif;
  --font-family-plusJakarta: 'Plus Jakarta Sans', sans-serif;

  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 12px;
  --text-heading: 18px;
  --text-description: 12px;
  --text-title: 12px;

  --spacing-6: 6px;
  --spacing-29: 29px;
  --spacing-189: 189px;
}

button {
  cursor: pointer;
}

.categories-wrapper {
  overflow-x: auto; /* Allow horizontal scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer & Edge */
}

.categories-wrapper::-webkit-scrollbar {
  display: none !important;
  width: 0;
  height: 0;
}

.swiper-wrapper {
  padding-bottom: 0.5rem;
}

/* font styles */
.text-large {
  @apply font-family-manrope text-2xl leading-[29px] font-bold tracking-[0px];
}
.text-primary {
  @apply font-family-manrope text-lg leading-[29px] font-bold tracking-[0px];
}

.text-secondary {
  @apply font-family-manrope text-sm leading-[100%] font-medium tracking-[0%];
}

.text-body {
  @apply font-family-manrope text-md align-middle leading-[135%] font-normal tracking-[0%];
}

.text-heading {
  @apply font-family-plusJakarta text-heading leading-[20.67px] font-bold tracking-[-0.29px];
}

.text-title {
  @apply font-family-manrope text-title leading-[15.98px] font-semibold tracking-[0px];
}

.text-primary {
  @apply font-family-manrope text-lg leading-[29px] font-bold tracking-[0px];
}

.text-secondary {
  @apply font-family-manrope text-sm leading-[100%] font-medium tracking-[0%];
}

.text-body {
  @apply font-family-manrope text-md align-middle leading-[135%] font-normal tracking-[0%];
}

.text-heading {
  @apply font-family-plusJakarta text-[20px] leading-[20.67px] font-bold tracking-[-0.29px];
}

.text-description {
  @apply font-family-manrope text-[14px] leading-[18px] font-normal tracking-[0px];
}

.text-small {
  @apply font-family-manrope text-[12px] leading-[18px] font-normal tracking-[0px];
}
.text-title {
  @apply font-family-manrope text-title leading-[15.98px] font-semibold tracking-[0px];
}

.btn-shadow-xs {
  box-shadow: 0px 0.34px 0.75px 0px rgba(255, 90, 30, 0.03);
}

.btn-shadow-sm {
  box-shadow: 0px 1.03px 2.27px 0px rgba(255, 90, 30, 0.09);
}

.btn-shadow-md {
  box-shadow: 0px 2.72px 5.99px 0px rgba(255, 90, 30, 0.24);
}

.btn-shadow-lg {
  box-shadow: 0px 8.53px 18.77px 0px rgba(255, 90, 30, 0.3);
}

.btn-primary {
  @apply bg-primary-500 font-family-manrope rounded-full px-4 py-2 font-bold text-white;
  box-shadow:
    0px 0.34px 0.75px 0px rgba(255, 90, 30, 0.03),
    0px 1.03px 2.27px 0px rgba(255, 90, 30, 0.09),
    0px 2.72px 5.99px 0px rgba(255, 90, 30, 0.24),
    0px 8.53px 18.77px 0px rgba(255, 90, 30, 0.3);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  @apply bg-primary-300;
  transform: translateY(-1px);
}

.btn-primary:active {
  @apply bg-primary-400;
  transform: translateY(1px);
  box-shadow:
    0px 0.34px 0.75px 0px rgba(255, 90, 30, 0.03),
    0px 1.03px 2.27px 0px rgba(255, 90, 30, 0.09);
}

.btn-secondary {
  @apply font-family-manrope rounded border-[1px] border-[rgba(128,128,128,0.12)] bg-[rgba(248,246,246,1)] px-4 py-2 font-normal text-black;
  transition: all 0.2s ease-in-out;
}

/* .btn-secondary:hover {
  @apply border-primary-300 text-primary-300 font-[600];
} */

.btn-secondary-active {
  @apply  border-primary-300 text-primary-300 font-[600] font-family-manrope rounded border-[1px]  bg-[rgba(248,246,246,1)] px-4 py-2;
}
